{% extends 'catalog/home.html' %}
{% load my_tags %}
{% block content %}


<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    {% if blog.image %}
                    <img src="{{ blog.image | media_filter }}" class="card-img-top" alt="{{ blog.name }}">
                    {% endif %}
                    <div class="card-body">
                        <p class="card-text">Название: {{ object.title }} ({{ object.slug }})</p>
                        <p class="card-text">Содержание: {{ object.post }}</p>
                        <p class="card-text">Дата публикации: {{ object.created_at }}</p>
                        <p class="card-text">Просмотры: {{ object.views_count }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-primary" href="{% url 'blog:blog_list' %}" role="button">Вернуться</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}